.sidebar-container {
  display: grid;
  width: 290px;
  height: 100%;
  grid-template-columns: 50px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar menu";
}

@media only screen and (max-width: 700px) {
  .sidebar-container {
    display: grid;
    width: 290px;
    height: 100%;
    grid-template-columns: 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "sidebar";
  }

  .menu {
    display: none;
  }
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(#bfd047, #fff);
}

.btn-icon {
  width: 35px;
}

.btn-icon-small {
  width: 20px;
}

.sidebar-btn {
  text-align: center;
  padding-top: 20px;
}

.sidebar-btn-bottom {
  text-align: center;
  padding-bottom: 20px;
}

.menu {
  grid-area: menu;
  background: #333;
  padding: 5%;
}

.nav-item {
  width: 35px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.menu-item {
  padding: 5%;
}

.menu-item:hover {
  background-color: grey;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-top {
  height: 50%;
}

.sidebar-bottom {
  align-content: end;
  height: 50%;
}

.circle-mask {
  border-radius: 50%;
  object-fit: cover;
}
