.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 290px 1fr 1fr;
  grid-template-rows: 0.01fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar"
    "sidemenu content content";
}

@media only screen and (max-width: 700px) {
  .app-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 0.01fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar"
      "sidemenu content content";
  }
}

.app-sidemenu {
  grid-area: sidemenu;
}

.app-navbar {
  grid-area: navbar;
}

.app-content {
  grid-area: content;
  background-color: rgb(238, 238, 238);
  padding: 5%;
}
