* {
  margin: 0;
}

html, body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    height: 100%;
}

/* header & logo styles */

header {
  height: 5rem;
  display: flex;
  background-color: #F7F7F7;
}

#logo-container {
  background-color: #F8F9EA;
  height: 100%;
  display: flex;
  align-items: center;
  width: 16rem;
}

#logo {
  font-size: 1.75rem;
  text-align: center;
  width: 100%;
}

#flex-container {
  display: flex;
  flex-direction: row;
}

/* navbar styles */

nav {
  background-color: #333333;
  display: flex;
  justify-content: center;
  width: 15%;
  height: 1000vh;

}

ul {
  width: 50%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.nav-items {
  color: #D6D6D6;
  font-size: 1em;
  text-decoration: none;
}

/* table styles */

#result-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
  border-collapse: collapse;
  color: #666666;
}
#confidenceChart {
  display: block; /* Ensures it is not inline*/
  max-width: 100%; /* Ensures it does not overflow its container */
  margin: auto; /* Centers the chart in its container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  margin-top: 2rem; /* Adds space between table and chart */
}
#sentimentChart {
  display: block;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
.charts{
    display: flex;
}
.chart{
    margin: 10px;
    padding: 20px;
}
table, th, td {
  border: 1px solid #666666;
}

th {
  background-color: #D9D9D9;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  width: 10%;
}

td {
  padding: 0.75rem;
  color: #666666;
  text-align: center;
  width: 10%;
}

/* Button styles */

#download-btn{
    float: right;
}
